<!doctype html>
<html>
  <head>
    <title>Arquivei - Semcomp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script type="text/javascript">
      window.__INITIAL_STATE__ = <%- initial %>;
      window.__BANNER_IMG_BASE64__ = "data:image/png;base64,<%- banner %>"
    </script>
    <style media="screen">
      body {
        padding-bottom: 30px;
        background-image: url("data:image/png;base64,<%- bgImage %>");
      }
    </style>
  </head>
  <body>
    <section id='root'>
    </section>
    <% if (bundle) { %>
      <script type="text/javascript"><%- bundle %></script>
    <% } else { %>
      <script src="/public/bundle.js"></script>
    <% } %>
  </body>
</html>
